<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="
	http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context-4.1.xsd
	http://www.springframework.org/schema/mvc
	http://www.springframework.org/schema/mvc/spring-mvc-4.1.xsd"
       default-autowire="byName">


    <!-- 开启扫描@Controller,@RequestController等,注入handler。-->
    <mvc:annotation-driven>
        <!-- 自定义返回结果处理器
            <mvc:return-value-handlers>
                <bean class="com.markercup.web.handler.ControllerJsonReturnValueHandler"/>
            </mvc:return-value-handlers>
            -->
    </mvc:annotation-driven>

    <!-- 规定只扫描com.markercup下的@Controller标注的类 -->
    <context:component-scan base-package="cn.jsfund.stocktag" use-default-filters="false">
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>

    <bean class="org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping"/>

    <!-- 根据客户端的不同的请求决定不同的view进行响应, 如 /blog/1.json /blog/1.xml -->
    <bean class="org.springframework.web.servlet.view.ContentNegotiatingViewResolver">
        <property name="ignoreAcceptHeader" value="true"/>
        <!--<property name="defaultContentType" value="text/html"/> -->
        <property name="defaultContentType" value="application/json"/>

        <!-- 扩展名至mimeType的映射,即 /user.json => application/json
            <property name="mediaTypes">
                <map>
                    <entry key="json" value="application/json" />
                    <entry key="xml" value="application/xml" />
                </map>
            </property>
            -->
        <!-- 用于开启 /userinfo/123?format=json 的支持 -->
        <property name="favorParameter" value="false"/>
        <property name="viewResolvers">
            <list>
                <bean class="org.springframework.web.servlet.view.BeanNameViewResolver"/>
                <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
                    <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
                    <property name="prefix" value="/WEB-INF/jsp/"/>
                    <property name="suffix" value=".jsp"/>
                </bean>
            </list>
        </property>
        <property name="defaultViews">
            <list>
                <!-- for application/json -->
                <bean class="org.springframework.web.servlet.view.json.MappingJackson2JsonView"/>
                <!-- for application/xml -->
                <!--
                    <bean class="org.springframework.web.servlet.view.xml.MarshallingView" >
                        <property name="marshaller">
                            <bean class="org.springframework.oxm.xstream.XStreamMarshaller"/>
                        </property>
                    </bean>
                     -->
            </list>
        </property>
    </bean>

    <!-- <bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
        <property name="messageConverters">      
            <list >      
                <ref bean="mappingJacksonHttpMessageConverter" />      
            </list>      
        </property>      
    </bean>
    
    <bean id="mappingJacksonHttpMessageConverter" class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">    
        <property name="supportedMediaTypes">
            <list>
                <value>application/json;charset=UTF-8</value>
           </list>
        </property>
    </bean>
    -->
    <!-- Mapping exception to the handler view -->
    <bean id="exceptionResolver" class="cn.iyowei.stockai.web.resolver.WebAndJsonMappingExceptionResolver">
        <property name="exceptionMappings">
            <props>
                <prop key="java.lang.IllegalArgumentException">IllegalArgumentException</prop>
                <prop key="java.lang.NullPointerException">NullPointerException</prop>
                <!-- 未授权 -->
                <prop key="cn.iyowei.stockai.exception.UserUnauthorizedException">UserUnauthorizedException</prop>
                <prop key="java.io.IOException">IOException</prop>
                <prop key="java.lang.ArithmeticException">ArithmeticException</prop>
                <prop key="org.springframework.dao.DuplicateKeyException">DuplicateKeyException</prop>
                <prop key="java.lang.Exception">Exception</prop>
            </props>
        </property>
        <property name="statusCodes">
            <props>
                <prop key="IllegalArgumentException">400</prop>
                <prop key="NullPointerException">500</prop>
                <prop key="UserUnauthorizedException">401</prop>
                <prop key="IOException">402</prop>
                <prop key="DuplicateKeyException">703</prop>
                <prop key="ArithmeticException">500</prop>
                <prop key="Exception">500</prop>
            </props>
        </property>
    </bean>

    <!-- 自定义token拦截器
    <mvc:interceptors>
        <bean class="TokenHandlerInterceptorAdapter"/>
    </mvc:interceptors>
     -->

</beans>