<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:p="http://www.springframework.org/schema/p"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd"
       default-autowire="byName" default-lazy-init="false">

    <context:property-placeholder location="classpath:application.properties"/>
    <context:component-scan base-package="cn.jsfund.stocktag.dao"/>

    <!-- pool config -->
    <bean id="jedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig">
        <property name="maxIdle" value="${redis.pool.maxIdle}"/>
        <property name="testOnBorrow" value="${redis.pool.testOnBorrow}"/>
    </bean>

    <!--connectionFactory-->

    <!--redis 4001 个股对应的标签-->
    <bean id="stockTagConnectionFactory"
          class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory">
        <property name="hostName" value="${redis.stockstag.ip}"/>
        <property name="port" value="${redis.stockstag.port}"/>
        <property name="poolConfig" ref="jedisPoolConfig"/>
    </bean>

    <!--redis 4002 标签对应的个股-->
    <bean id="tagStockConnectionFactory"
          class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory">
        <property name="hostName" value="${redis.tagsstock.ip}"/>
        <property name="port" value="${redis.tagsstock.port}"/>
        <property name="poolConfig" ref="jedisPoolConfig"/>
    </bean>

    <!--redis 4003 标签对应的标签-->
    <bean id="tagTagConnectionFactory"
          class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory">
        <property name="hostName" value="${redis.tagstag.ip}"/>
        <property name="port" value="${redis.tagstag.port}"/>
        <property name="poolConfig" ref="jedisPoolConfig"/>
    </bean>

    <!--redis 4004 根据简称/代码/名称查询Stock-->
    <bean id="keyStockConnectionFactory"
          class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory">
        <property name="hostName" value="${redis.keystock.ip}"/>
        <property name="port" value="${redis.keystock.port}"/>
        <property name="poolConfig" ref="jedisPoolConfig"/>
    </bean>

    <!--redisTemplate-->
    <bean id="stockTagTemplate" class="org.springframework.data.redis.core.StringRedisTemplate"
          p:connectionFactory-ref="stockTagConnectionFactory"/>
    <bean id="tagStockTemplate" class="org.springframework.data.redis.core.StringRedisTemplate"
          p:connectionFactory-ref="tagStockConnectionFactory"/>
    <bean id="tagTagTemplate" class="org.springframework.data.redis.core.StringRedisTemplate"
          p:connectionFactory-ref="tagTagConnectionFactory"/>
    <bean id="keyStockTemplate" class="org.springframework.data.redis.core.StringRedisTemplate"
          p:connectionFactory-ref="keyStockConnectionFactory"/>

</beans>

